<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.wikibook.gallery.cart.CartMapper">
    <insert id="save">
        INSERT INTO carts
        SET member_id = #{memberId}, item_id = #{itemId}
    </insert>

    <select id="findAllWithItemByMemberId">
        SELECT c.id, i.img_path, i.name, i.price, i.discount_per
        FROM carts AS c
        JOIN items AS i ON c.item_id = i.id
        WHERE c.member_id = #{memberId}
    </select>

    <delete id="removeByMemberIdAndItemId">
        DELETE FROM carts
        WHERE member_id = #{memberId}
        AND item_id = #{itemId}

    </delete>

</mapper>